# **Objective**: Our project will investigate drug poisoning and fatalities, particularly examining the increasing prevalence of fentanyl, a powerful synthetic opioid approved by the FDA for pain relief and anesthesia. We aim to analyze fentanyl data alongside other substances. We are presenting statistics on fatalities and poisonings categorized by age, gender, and zip code. Additionally, we seek to correlate zip codes with income levels to provide a comprehensive understanding of the impact of drug use on different socioeconomical levels. Our data was gathered from 1999 to 2021.

In [5]:
# Dependencies
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from pathlib import Path
from scipy import stats
import hvplot.pandas
import seaborn as sns
from pprint import pprint
from IPython.display import display


%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [6]:
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact

In [7]:
# Python SQL toolkit and Object Relational Mapper - just to have
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [8]:
from sqlalchemy import create_engine, inspect

# create engine to PostgreSQL
engine = create_engine("postgresql://postgres:crimetime@localhost:5432/Crime_Time")
inspector = inspect(engine)

In [9]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
#Base.prepare(autoload_with=engine, schema= )
Base.prepare(engine, reflect=True, schema='Deaths')
Base.prepare(engine, reflect=True, schema='OK_Income')
Base.prepare(engine, reflect=True, schema='OK_Death_Rates_')

C:\Users\CoryChapman\AppData\Local\Temp\ipykernel_10852\4002289448.py:6: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True, schema='Deaths')
C:\Users\CoryChapman\AppData\Local\Temp\ipykernel_10852\4002289448.py:7: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True, schema='OK_Income')
C:\Users\CoryChapman\AppData\Local\Temp\ipykernel_10852\4002289448.py:8: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True, schema='OK_Death_Rates_')

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# Get table names
table_names = inspector.get_table_names()

# Display schema for each table
for table_name in table_names:
    print(f"Table: {table_name}")
    columns = inspector.get_columns(table_name)
    for column in columns:
        print(f"  Column: {column['name']}, Type: {column['type']}")
    print("\n")

Table: Deaths
  Column: Year, Type: INTEGER
  Column: Gender, Type: VARCHAR(255)
  Column: Intent, Type: VARCHAR(255)
  Column: Substance, Type: VARCHAR(255)
  Column: Under1_year, Type: INTEGER
  Column: 1to4_Years, Type: INTEGER
  Column: 5to14_years, Type: INTEGER
  Column: 15to24_years, Type: INTEGER
  Column: 25to34_years, Type: INTEGER
  Column: 35to44_years, Type: INTEGER
  Column: 45to54_years, Type: INTEGER
  Column: 55to64_years, Type: INTEGER
  Column: 65to74_years, Type: INTEGER
  Column: 75to84_years, Type: INTEGER
  Column: 85Plus_years, Type: INTEGER


Table: OK_Death_Rate_
  Column: State, Type: VARCHAR(255)
  Column: Drug_Type, Type: VARCHAR(255)
  Column: County, Type: VARCHAR(255)
  Column: County_Code, Type: INTEGER
  Column: Five_Year_Age_Groups, Type: VARCHAR(255)
  Column: Five_Year_Age_Groups_Code, Type: VARCHAR(255)
  Column: Gender, Type: VARCHAR(255)
  Column: Gender_Code, Type: VARCHAR(255)
  Column: MCD_Drug_Alcohol_Induced_Cause, Type: VARCHAR(255)
  Column: MCD_Drug_Alcohol_Induced_Cause_Code, Type: INTEGER
  Column: Deaths, Type: INTEGER
  Column: Population, Type: INTEGER
  Column: Crude_Rate, Type: VARCHAR(255)


Table: OK_Income
  Column: 2010, Type: INTEGER
  Column: 2011, Type: INTEGER
  Column: 2012, Type: INTEGER
  Column: 2013, Type: INTEGER
  Column: 2014, Type: INTEGER
  Column: 2015, Type: INTEGER
  Column: 2016, Type: INTEGER
  Column: 2017, Type: INTEGER
  Column: 2018, Type: INTEGER
  Column: 2019, Type: INTEGER
  Column: 2020, Type: INTEGER
  Column: 2021, Type: INTEGER
  Column: County, Type: VARCHAR(255)

In [12]:
# Specify the table name
table_name = "Deaths"

# Read data from the table into a DataFrame
deaths_df = pd.read_sql_table(table_name, con=engine)

# Display the first few rows of the DataFrame
print("Deaths DataFrame:")
display(deaths_df.head())

Deaths DataFrame:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [13]:
# Specify the table name
table_name = "OK_Death_Rate_"

# Read data from the table into a DataFrame
okdeath_df = pd.read_sql_table(table_name, con=engine)

# Display the first few rows of the DataFrame
print("Oklahoma Death Rate DataFrame:")
display(okdeath_df.head())

Oklahoma Death Rate DataFrame:

Empty DataFrame
Columns: [State, Drug_Type, County, County_Code, Five_Year_Age_Groups, Five_Year_Age_Groups_Code, Gender, Gender_Code, MCD_Drug_Alcohol_Induced_Cause, MCD_Drug_Alcohol_Induced_Cause_Code, Deaths, Population, Crude_Rate]
Index: []

In [14]:
# Specify the table name
table_name = "OK_Income"

# Read data from the table into a DataFrame
income_df = pd.read_sql_table(table_name, con=engine)

# Display the first few rows of the DataFrame
print("Oklahoma Income DataFrame:")
display(income_df.head())

Oklahoma Income DataFrame:

Empty DataFrame
Columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, County]
Index: []

In [15]:
#combined DF may not be needed, but here it is anyway

# Create a dictionary to store column names
column_names_reference = {}

# Get table names
table_names = inspector.get_table_names()

# Create an empty DataFrame to store the data
all_data_df = pd.DataFrame()

# Populate the dictionary with column names and retrieve data for each table
for table_name in table_names:
    columns = inspector.get_columns(table_name)
    column_names = [column['name'] for column in columns]
    column_names_reference[table_name] = column_names

    # Read data from the table into a DataFrame
    table_data_df = pd.read_sql_table(table_name, con=engine)

    # Append the table data to the main DataFrame
    all_data_df = pd.concat([all_data_df, table_data_df], ignore_index=True)


# Display the column names reference
print("Column Names Reference:")
for table_name, columns in column_names_reference.items():
    print(f"Table: {table_name}, Columns: {columns}")

# Display the first few rows of the combined DataFrame
print("\nCombined DataFrame:")
display(all_data_df.head())

Column Names Reference:
Table: Deaths, Columns: ['Year', 'Gender', 'Intent', 'Substance', 'Under1_year', '1to4_Years', '5to14_years', '15to24_years', '25to34_years', '35to44_years', '45to54_years', '55to64_years', '65to74_years', '75to84_years', '85Plus_years']
Table: OK_Death_Rate_, Columns: ['State', 'Drug_Type', 'County', 'County_Code', 'Five_Year_Age_Groups', 'Five_Year_Age_Groups_Code', 'Gender', 'Gender_Code', 'MCD_Drug_Alcohol_Induced_Cause', 'MCD_Drug_Alcohol_Induced_Cause_Code', 'Deaths', 'Population', 'Crude_Rate']
Table: OK_Income, Columns: ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'County']

Combined DataFrame:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years, State, Drug_Type, County, County_Code, Five_Year_Age_Groups, Five_Year_Age_Groups_Code, Gender_Code, MCD_Drug_Alcohol_Induced_Cause, MCD_Drug_Alcohol_Induced_Cause_Code, Deaths, Population, Crude_Rate, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 39 columns]

# Data CleanUp - Nationwide

In [16]:
# If any data cleaning needs to be done via code, it can be written here

# If ages need to be converted to integers, do it here

In [17]:
# Specify the column order for sorting
sort_columns = ['Year', 'Substance', 'Gender']

# Sort the DataFrame by the specified columns
sorted_deaths = deaths_df.sort_values(by=sort_columns)

# Display the sorted DataFrame
print("Sorted Deaths DataFrame:")
display(sorted_deaths)

Sorted Deaths DataFrame:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

## Deaths by Year

In [18]:
# Specify the year you want to filter
target_year = 1999

# Filter the 'Deaths' DataFrame for the specified year
deaths_1999 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 1999
print(f"Deaths in the Year {target_year}:\n")
display(deaths_1999)

Deaths in the Year 1999:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [19]:
# Specify the year you want to filter
target_year = 2000

# Filter the 'Deaths' DataFrame for the specified year
deaths_2000 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2000
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2000)

Deaths in the Year 2000:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [20]:
# Specify the year you want to filter
target_year = 2001

# Filter the 'Deaths' DataFrame for the specified year
deaths_2001 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2001
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2001)

Deaths in the Year 2001:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [21]:
# Specify the year you want to filter
target_year = 2002

# Filter the 'Deaths' DataFrame for the specified year
deaths_2002 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2002
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2002)

Deaths in the Year 2002:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [22]:
# Specify the year you want to filter
target_year = 2003

# Filter the 'Deaths' DataFrame for the specified year
deaths_2003 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2003
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2003)

Deaths in the Year 2003:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [23]:
# Specify the year you want to filter
target_year = 2004

# Filter the 'Deaths' DataFrame for the specified year
deaths_2004 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2004
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2004)

Deaths in the Year 2004:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [24]:
# Specify the year you want to filter
target_year = 2005

# Filter the 'Deaths' DataFrame for the specified year
deaths_2005 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2005
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2005)

Deaths in the Year 2005:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [25]:
# Specify the year you want to filter
target_year = 2006

# Filter the 'Deaths' DataFrame for the specified year
deaths_2006 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2006
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2006)

Deaths in the Year 2006:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [26]:
# Specify the year you want to filter
target_year = 2007

# Filter the 'Deaths' DataFrame for the specified year
deaths_2007 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2007
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2007)

Deaths in the Year 2007:

Empty DataFrame
Columns: [Year, Gender, Intent, Substance, Under1_year, 1to4_Years, 5to14_years, 15to24_years, 25to34_years, 35to44_years, 45to54_years, 55to64_years, 65to74_years, 75to84_years, 85Plus_years]
Index: []

In [ ]:
# Specify the year you want to filter
target_year = 2008

# Filter the 'Deaths' DataFrame for the specified year
deaths_2008 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2008
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2008)

In [ ]:
# Specify the year you want to filter
target_year = 2009

# Filter the 'Deaths' DataFrame for the specified year
deaths_2009 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2009
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2009)

In [ ]:
# Specify the year you want to filter
target_year = 2010

# Filter the 'Deaths' DataFrame for the specified year
deaths_2010 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2010
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2010)

In [ ]:
# Specify the year you want to filter
target_year = 2011

# Filter the 'Deaths' DataFrame for the specified year
deaths_2011 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2011
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2011)

In [ ]:
# Specify the year you want to filter
target_year = 2012

# Filter the 'Deaths' DataFrame for the specified year
deaths_2012 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2012
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2012)

In [ ]:
# Specify the year you want to filter
target_year = 2013

# Filter the 'Deaths' DataFrame for the specified year
deaths_2013 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2013
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2013)

In [ ]:
# Specify the year you want to filter
target_year = 2014

# Filter the 'Deaths' DataFrame for the specified year
deaths_2014 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2014
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2014)

In [ ]:
# Specify the year you want to filter
target_year = 2015

# Filter the 'Deaths' DataFrame for the specified year
deaths_2015 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2015
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2015)

In [ ]:
# Specify the year you want to filter
target_year = 2016

# Filter the 'Deaths' DataFrame for the specified year
deaths_2016 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2016
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2016)

In [ ]:
# Specify the year you want to filter
target_year = 2017

# Filter the 'Deaths' DataFrame for the specified year
deaths_2017 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2017
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2017)

In [ ]:
# Specify the year you want to filter
target_year = 2018

# Filter the 'Deaths' DataFrame for the specified year
deaths_2018 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2018
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2018)

In [ ]:
# Specify the year you want to filter
target_year = 2019

# Filter the 'Deaths' DataFrame for the specified year
deaths_2019 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2019
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2019)

In [ ]:
# Specify the year you want to filter
target_year = 2020

# Filter the 'Deaths' DataFrame for the specified year
deaths_2020 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2020
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2020)

In [ ]:
# Specify the year you want to filter
target_year = 2021

# Filter the 'Deaths' DataFrame for the specified year
deaths_2021 = sorted_deaths[sorted_deaths['Year'] == target_year]

# Display the DataFrame containing deaths in the year 2021
print(f"Deaths in the Year {target_year}:\n")
display(deaths_2021)

## Deaths by Year and Substance Visualization

In [ ]:
#import plotly.express as px
# from ipywidgets import interact, widgets

# Create dropdown widgets for selecting the year and substance
year_dropdown = widgets.Dropdown(options=sorted_deaths['Year'].unique(), description='Select Year')
substance_dropdown = widgets.Dropdown(options=sorted_deaths['Substance'].unique(), description='Select Substance')

# Function to update the chart based on the selected year and substance
def update_chart(selected_year, selected_substance):
    filtered_data = sorted_deaths[(sorted_deaths['Year'] == selected_year) & (sorted_deaths['Substance'] == selected_substance)]
    
    # Extract relevant columns for plotting
    data_for_plotting = filtered_data[['Substance', 'Under1_year', '1to4_Years', '5to14_years',
                                       '15to24_years', '25to34_years', '35to44_years', '45to54_years',
                                       '55to64_years', '65to74_years', '75to84_years', '85Plus_years']]
    
    # Melt the DataFrame to 'long' format for Plotly plotting
    melted_data = data_for_plotting.melt(id_vars='Substance', var_name='Age_Group', value_name='Number_of_Deaths')

    # Create an interactive bar chart using Plotly
    fig = px.bar(melted_data, x='Substance', y='Number_of_Deaths', color='Age_Group',
                 labels={'Number_of_Deaths': 'Number of Deaths'},
                 title=f'Bar Chart of Deaths for {selected_year} - Substance: {selected_substance}',
                 barmode='group')
    
    # Show the chart
    fig.show(renderer="notebook")

# Connect the dropdown widgets to the update function
interact(update_chart, selected_year=year_dropdown, selected_substance=substance_dropdown);

## Fentanyl Over Time

In [ ]:
#import seaborn as sns
#import matplotlib.pyplot as plt

# Assuming you have a DataFrame named 'filtered_data'
# Replace these column names with your actual column names

# Sample data creation
#import pandas as pd
#import numpy as np

# Set option to handle inf values
pd.set_option('mode.use_inf_as_na', True)

# Assuming you have a DataFrame named 'filtered_data'
# Replace these column names with your actual column names

# Filter the data for the specific substance
opioid_data = sorted_deaths[sorted_deaths["Substance"] == "Opioid subgroup – including fentanyl"]

# Sum deaths across all age groups for each year
total_deaths_per_year = opioid_data.groupby("Year").sum(numeric_only=True).sum(axis=1).reset_index()
total_deaths_per_year.columns = ["Year", "Total_Deaths"]

# Plotting using Seaborn with warnings suppressed
plt.figure(figsize=(12, 6))
with sns.plotting_context(context="notebook", rc={"axes.labelsize": 14}), sns.axes_style("whitegrid"):
    sns.lineplot(x="Year", y="Total_Deaths", data=total_deaths_per_year, marker="o", estimator=None)
    plt.xticks(total_deaths_per_year["Year"])  # Set x-ticks to include all years
plt.title("Total Deaths per Year for Opioid Subgroup – including fentanyl")
plt.xlabel("Year")
plt.ylabel("Total Deaths")
plt.show()

## PsychoStimulants (Meth) Over Time

In [ ]:
# Set option to handle inf values
pd.set_option('mode.use_inf_as_na', True)

# Filter the data for the specific substance
psychostimulant_data = sorted_deaths[sorted_deaths["Substance"] == "Psychostimulants – incl. methamphetamine"]

# Sum deaths across all age groups for each year
total_deaths_per_year = psychostimulant_data.groupby("Year").sum(numeric_only=True).sum(axis=1).reset_index()
total_deaths_per_year.columns = ["Year", "Total_Deaths"]

# Plotting using Seaborn with warnings suppressed
plt.figure(figsize=(12, 6))
with sns.plotting_context(context="notebook", rc={"axes.labelsize": 14}), sns.axes_style("whitegrid"):
    sns.lineplot(x="Year", y="Total_Deaths", data=total_deaths_per_year, marker="o", estimator=None)
    plt.xticks(total_deaths_per_year["Year"])  # Set x-ticks to include all years
plt.title("Total Deaths per Year for Psychostimulants – incl. methamphetamine")
plt.xlabel("Year")
plt.ylabel("Total Deaths")
plt.show()

In [ ]:
# Assuming you have a DataFrame named 'sorted_deaths'
# Set option to handle inf values
pd.set_option('mode.use_inf_as_na', True)

# Filter the data for the specific substances
opioid_data = sorted_deaths[sorted_deaths["Substance"] == "Opioid subgroup – including fentanyl"]
psychostimulant_data = sorted_deaths[sorted_deaths["Substance"] == "Psychostimulants – incl. methamphetamine"]

# Combine the data for both substances
combined_data = pd.concat([opioid_data, psychostimulant_data])

# Sum deaths across age groups for each row and create a new column 'Total_Deaths'
combined_data['Total_Deaths'] = combined_data[[
    "Under1_year", "1to4_Years", "5to14_years", "15to24_years", 
    "25to34_years", "35to44_years", "45to54_years", "55to64_years", 
    "65to74_years", "75to84_years", "85Plus_years"
]].sum(axis=1)

# Create a relational plot using sns.relplot
plt.figure(figsize=(12, 6))
with sns.plotting_context(context="notebook", rc={"axes.labelsize": 14}), sns.axes_style("whitegrid"):
    sns.relplot(x="Year", y="Total_Deaths", hue="Substance", kind="line", data=combined_data)
plt.title("Comparison of Deaths over Time for Opioid and Psychostimulant Substances")
plt.xlabel("Year")
plt.ylabel("Total Deaths")
plt.show()

# Data Clean Up - Oklahoma

In [ ]:
# what year is this data from??

In [ ]:
# Specify the column order for sorting
sort_columns = ['County', 'Drug_Type', 'Gender']

# Sort the DataFrame by the specified columns
sorted_ok = okdeath_df.sort_values(by=sort_columns)

# Display the sorted DataFrame
print("Sorted Oklahoma Death Rates DataFrame:")
display(sorted_ok)

## Drug Deaths by County

In [ ]:
# import plotly.express as px
#from ipywidgets import interact, widgets

# Create dropdown widgets for selecting the county and drug type
county_dropdown = widgets.Dropdown(options=sorted_ok['County'].unique(), description='Select County')
drug_type_dropdown = widgets.Dropdown(options=sorted_ok['Drug_Type'].unique(), description='Select Drug Type')

# Function to update the chart based on the selected county and drug type
def update_chart(selected_county, selected_drug_type):
    filtered_data = sorted_ok[
        (sorted_ok['County'] == selected_county) & 
        (sorted_ok['Drug_Type'] == selected_drug_type)
    ]
    
    # Check if there is data for the selected combination
    if filtered_data.empty:
        print(f'No results for {selected_county} - {selected_drug_type}')
        return
    
    # Extract relevant columns for plotting
    data_for_plotting = filtered_data[['Five_Year_Age_Groups', 'Deaths', 'Gender']]
    
    # Create an interactive bar chart using Plotly
    fig = px.bar(data_for_plotting, x='Five_Year_Age_Groups', y='Deaths',
                 color='Gender',
                 labels={'Deaths': 'Number of Deaths'},
                 title=f'Bar Chart of Deaths for {selected_county} - Drug Type: {selected_drug_type} by Gender')
    
    # Show the chart
    fig.show(renderer="notebook")

# Connect the dropdown widgets to the update function
interact(update_chart, selected_county=county_dropdown, selected_drug_type=drug_type_dropdown);

# App Creation

## Map By County

In [ ]:
import json
import folium
import geopandas as gpd

In [ ]:
# Load the Shapefile into a GeoDataFrame
shapefile_path = 'GitHub\Project3-CrimeData\Resources\COUNTY_BOUNDARY.shp'
gdf = gpd.read_file(shapefile_path)

# Create a Folium map centered on Oklahoma
m = folium.Map(location=[35.5, -97.5], zoom_start=7)

# Add the GeoDataFrame to the map
folium.GeoJson(gdf).add_to(m)

# Display the map
m